venv/
.venv/
env/
.env/

pycache/
*.py[cod]
*$py.class

*.egg-info/
dist/
build/

.env

.idea/

.vscode/

*.sublime-project
*.sublime-workspace


# macOS
.DS_Store

Thumbs.db
desktop.ini


*.log
logs/