{% extends 'fleet/base.html' %}

{% block content %}
    <h2>Формирование отчета по ГСМ</h2>
    <p class="text-muted">Выберите параметры для фильтрации данных</p>

    <div class="card p-4 shadow-sm col-md-8">
        <form method="get" action="{% url 'reports_result' %}">
            <div class="row g-3">
                <div class="col-md-6">
                    {{ form.date_from.label_tag }}
                    {{ form.date_from }}
                </div>
                <div class="col-md-6">
                    {{ form.date_to.label_tag }}
                    {{ form.date_to }}
                </div>
                <div class="col-md-6">
                    {{ form.automobile.label_tag }}
                    {{ form.automobile }}
                </div>
                <div class="col-md-6">
                    {{ form.driver.label_tag }}
                    {{ form.driver }}
                </div>
            </div>

            <div class="mt-4 d-flex justify-content-between">
                <button type="submit" class="btn btn-primary px-4">Сформировать отчет</button>
                <a href="{% url 'reports_selection' %}" class="btn btn-outline-secondary">Сбросить фильтры</a>
            </div>
        </form>
    </div>
{% endblock %}